* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #b4c9ce;
  background-image: url(kunst.jpg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}
h1 {
  padding: 20px;
}
#resizebtn,
#clearbtn,
#rubberbtn,
#colorbtn {
  margin: 20px;
  width: 200px;
  height: 50px;
  background-color: burlywood;
  border-style: hidden;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
#resizebtn:hover,
#clearbtn:hover,
#rubberbtn:hover,
#colorbtn:hover {
  background-color: rgb(221, 167, 96);
}
#resizebtn:active,
#clearbtn:active,
#rubberbtn:active,
#colorbtn:active {
  opacity: 70%;
  transition: all 0.1s;
}
.container {
  display: flex;
  flex-flow: row wrap;
  border-style: solid;
  width: 500px;
  height: 500px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  line-height: 40px;
}
.left {
  display: flex;
  width: 300px;
  height: auto;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
}
.grid {
  background-color: white;
  display: flex;
  flex: 1 0 6.25%;
}
footer {
  position: absolute;
  padding: 20px;
  bottom: 0;
}
