* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #b4c9ce;
  background-image: url(kunst.jpg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
h1 {
  padding: 20px;
}
h1:hover {
  background-color: chartreuse;
}
#resizebtn,
#clearbtn {
  margin: 20px;
  width: 200px;
  height: 50px;
}
.container {
  display: flex;
  flex-flow: row wrap;
  border-style: solid;
  width: 500px;
  height: 500px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  line-height: 50px;
}
.left {
  width: 400px;
  height: auto;
}
.right {
  width: 400px;
  height: auto;
}
.grid {
  background-color: white;
  display: flex;
  flex: 1 0 6.25%;
}
.grid:hover:after {
  background-color: black;
}

footer {
  padding: 20px;
}
